@import './css/tailwind.css';

/* sistema de diseño */
@import './css/colores.css';
@import './css/espacios.css';
@import './css/formas.css';
@import './css/cards.css';
@import './css/badgets.css';
@import './css/layout.css';
@import './css/utilities.css';
@import './css/theme.css';

/* estilos base */
body {
  font-family: var(--font-family);
  background-color: var(--color-background-page);
  color: var(--color-title);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--color-title);
  font-family: var(--font-family);
}

p {
  margin: 0;
}

button {
  font-family: var(--font-family);
}